<h1>Admin Console</h1>
<hr />
<div class="mb-5">
  <a href="/admin/restaurants">Restaurants Table</a>
  |
  <a href="/admin/users">Users Table</a>
  |
  <a href="/admin/categories">Categories Table</a>
</div>